<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Lily</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="/static/static_d/styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">LILY</a></h1>
      <h2>everyday is a brand new day</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/dumplings">Dumplings</a></li>
        <li class="last"><a href="callus">Call us</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider"><a href="#"><img src="/static/images/demo/1024x640.jpg" ></a></section>
    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
          <article class="one_quarter lastbox">
          <strong>Information</strong>
            <p>Telephone : +886 977777777 </p>
          </article>
      </section>
    </div>
 </div>
</div>
    
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Lily</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
      <!-- / services area -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->