<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Lily</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="/static/static_d/styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">LILY</a></h1>
      <h2>everyday is a brand new day</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/dumplings">Dumplings</a></li>
        <li class="last"><a href="callus">Call us</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider"><a href="#"><img src="/static_d/images/demo/960x360.gif" alt=""></a></section>
    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
        <article class="one_quarter">
          <figure><img src="/static_d/images/demo/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="/static_d/images/demo/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="/static_d/images/demo/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="/static_d/images/demo/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
      </section>
      <!-- / services area -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->